@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  background: #caf0f8;
  color: #03045e;
}

header {
  text-align: center;
}

main {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 90%;
}

form,
aside {
  flex: 1;
}

aside {
  max-height: 500px;
  overflow-y: auto;
  text-wrap: wrap;
  overflow-wrap: break-word;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  border-radius: 5px;
  padding: 1rem;
}

form div:first-child,
form div:nth-child(2) {
  width: 100%;
  position: relative;
}

form div:nth-child(2) {
  display: flex;
  align-items: center;
}

input,
textarea,
button {
  outline: none;
  border-radius: 5px;
  border: 1px solid #03045e;
  padding: .5rem;
}

input[type="text"] {
  padding: .25rem;
  flex: 2;
  margin-left: .5rem;
}

input[type="checkbox"]+label,
input[type="checkbox"] {
  cursor: pointer;
}

textarea {
  resize: none;
  width: 100%;
}

button {
  font-family: inherit;
  padding: .5rem 1.5rem;
  cursor: pointer;
  transition: all 200ms linear;
}

button:hover {
  background: #03045e;
  color: #fff;
}

.error-border {
  border: 2px solid #D8000C;
}

.error-msg {
  color: #D8000C;
  font-size: .75rem;
  height: .75rem;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  border-bottom: 1px solid gray;
  padding: .5rem;
}

li p {
  margin: 0;
  margin-bottom: .25rem;
}

li:hover {
  cursor: pointer;
}

h3 {
  text-align: center;
}